<div class="container">

    <h1>  
    {{titulo}}
    </h1>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/login']">LOGIN</boton>
    <br/>
    <hr>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/plato']">PLATOS</boton>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/cliente']">CLIENTES</boton>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/pedido']">PEDIDOS</boton>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/pedidoDetalle']">PEDIDO DETALLE</boton>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/trabajador']">TRABAJADOR</boton>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/users']">USUARIOS</boton>
    <boton type="button" name="botton" class="btn btn-primary" [routerLink]="['/principal/orden']">ORDEN</boton>
    <hr>
    
</div>