/* app/styles.css */


.btn {
 
    background: #063777;
    -webkit-border-radius: 20;
      -moz-border-radius: 20;
      border-radius: 20px;
     
    text-shadow: 3px 2px 1px #010514;
      -webkit-box-shadow: 6px 5px 24px #666666;
      -moz-box-shadow: 6px 5px 24px #666666;
      box-shadow: 6px 5px 24px #666666;
     
    font-family: Arial;
      color: #fafafa;
      font-size: 18px;
      padding: 15px;
      text-decoration: none;
    }
    
    .btn:hover {
     
        background: #2079b0;
       
        background-image: -webkit-linear-gradient(top, #2079b0, #6579eb);
        background-image: -moz-linear-gradient(top, #2079b0, #6579eb);
        background-image: -ms-linear-gradient(top, #2079b0, #6579eb);
        background-image: -o-linear-gradient(top, #2079b0, #6579eb);
        background-image: linear-gradient(to bottom, #2079b0, #6579eb);
       
        text-decoration: none;
      }